In [3]:
import sqlite3
import pandas as pd
import random

In [2]:
# Read the code below and write your observation in the next cell

conn = sqlite3.connect('eng_subtitles_database.db')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(cursor.fetchall())

[('zipfiles',)]

In [3]:
cursor.execute("PRAGMA table_info('zipfiles')")
cols = cursor.fetchall()
for col in cols:
    print(col[1])

num
name
content

In [4]:
df = pd.read_sql_query("""SELECT * FROM zipfiles""", conn)
df.head()

,num,name,content
0,9180533,the.message.(1976).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x1c\xa9\x...
1,9180583,here.comes.the.grump.s01.e09.joltin.jack.in.bo...,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x17\xb9\x...
2,9180592,yumis.cells.s02.e13.episode.2.13.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00L\xb9\x99V...
3,9180594,yumis.cells.s02.e14.episode.2.14.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00U\xa9\x99V...
4,9180600,broker.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x001\xa9\x99V...

In [5]:
import zipfile
import io

count = 0

def decode_method(binary_data):
    global count
    # Decompress the binary data using the zipfile module
    # print(count, end=" ")
    count += 1
    with io.BytesIO(binary_data) as f:
        with zipfile.ZipFile(f, 'r') as zip_file:
            # Assuming there's only one file in the ZIP archive
            subtitle_content = zip_file.read(zip_file.namelist()[0])
    
    # Now 'subtitle_content' should contain the extracted subtitle content
    return subtitle_content.decode('latin-1')  # Assuming the content is UTF-8 encoded text

In [6]:
df['file_content'] = df['content'].apply(decode_method)

df.head()

,num,name,content,file_content
0,9180533,the.message.(1976).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x1c\xa9\x...,"1\r\n00:00:06,000 --> 00:00:12,074\r\nWatch an..."
1,9180583,here.comes.the.grump.s01.e09.joltin.jack.in.bo...,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x17\xb9\x...,"1\r\n00:00:29,359 --> 00:00:32,048\r\nAh! Ther..."
2,9180592,yumis.cells.s02.e13.episode.2.13.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00L\xb9\x99V...,"1\r\n00:00:53,200 --> 00:00:56,030\r\n<i>Yumi'..."
3,9180594,yumis.cells.s02.e14.episode.2.14.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00U\xa9\x99V...,"1\r\n00:00:06,000 --> 00:00:12,074\r\nWatch an..."
4,9180600,broker.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x001\xa9\x99V...,"ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\nWatch..."

In [7]:
sample_df = df.sample(frac=0.3)

In [8]:
sample_df.head()

,num,name,content,file_content
11228,9227901,american.experience.s03.e03.richard.nixon.part...,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\xc8\x94\x...,"ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\nSuppo..."
32159,9308935,midsomer.murders.s05.e01.market.for.murder.(20...,b'PK\x03\x04\x14\x00\x00\x00\x08\x00:\xad\x99V...,"ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\nUse t..."
76465,9496310,meloholic.s01.e03.episode.1.3.(2017).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\xafz\x9aV...,"ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\nSuppo..."
64109,9446652,walker.independence.s01.e11.the.pittsburgh.win...,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\xeeV\x9aV...,"ï»¿1\r\n00:00:11,645 --> 00:00:13,947\r\n(bird..."
27193,9290119,the.leech.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x85\xa4\x...,"ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\nSuppo..."

In [9]:
sample_df.to_csv("sample.csv", index=False)

In [4]:
df = pd.read_csv("sample.csv")

In [8]:
import string
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [9]:
def clean_files(subtitle):
    # Remove timestamps
    clean_content = re.sub(r'\d{2}:\d{2}:\d{2},\d{3} --> \d{2}:\d{2}:\d{2},\d{3}\n?', '', subtitle)

    # Remove other non-textual patterns
    clean_content = re.sub(r'<[^>]+>', '', clean_content)

    clean_content = re.sub(r"[^\w\s]", '', clean_content)

    clean_content = re.sub(r"[^\x00-\x7F]+", '', clean_content)

    clean_content = re.sub(r"\b\d+\s", '', clean_content)
    
    clean_content = re.sub(r'[Dd]r\.', '', clean_content)
    
    clean_content = re.sub(r'[A-Z][a-z]+:', '', clean_content)

    clean_content = clean_content.lower()

    tokens = word_tokenize(clean_content)

    stop_words = set(stopwords.words('english'))

    lemmatizer = WordNetLemmatizer()
    
    clean_tokens = [lemmatizer.lemmatize(word) for word in tokens if word.lower() not in stop_words]

    clean_content = ' '.join(clean_tokens)

    return clean_content.strip()

df['clean_content'] = df['file_content'].apply(clean_files)

In [10]:
df.head()

,num,name,content,file_content,clean_content
0,9227901,american.experience.s03.e03.richard.nixon.part...,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\xc8\x94\x...,"ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\nSuppo...",support u become vip member remove ad wwwopens...
1,9308935,midsomer.murders.s05.e01.market.for.murder.(20...,b'PK\x03\x04\x14\x00\x00\x00\x08\x00:\xad\x99V...,"ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\nUse t...",use free code joinnow wwwplayshipseu televisio...
2,9496310,meloholic.s01.e03.episode.1.3.(2017).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\xafz\x9aV...,"ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\nSuppo...",support u become vip member remove ad wwwopens...
3,9446652,walker.independence.s01.e11.the.pittsburgh.win...,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\xeeV\x9aV...,"ï»¿1\r\n00:00:11,645 --> 00:00:13,947\r\n(bird...",bird singing exhaling soft moaning scoff softl...
4,9290119,the.leech.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x85\xa4\x...,"ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\nSuppo...",support u become vip member remove ad wwwopens...

In [11]:
df.shape

(24749, 5)

In [18]:
df.to_csv("cleaned_content.csv", index=False)

In [19]:
df = pd.read_csv('cleaned_content.csv')

In [20]:
df.head()

,num,name,content,file_content,clean_content
0,9227901,american.experience.s03.e03.richard.nixon.part...,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\xc8\x94\x...,"ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\nSuppo...",support u become vip member remove ad wwwopens...
1,9308935,midsomer.murders.s05.e01.market.for.murder.(20...,b'PK\x03\x04\x14\x00\x00\x00\x08\x00:\xad\x99V...,"ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\nUse t...",use free code joinnow wwwplayshipseu televisio...
2,9496310,meloholic.s01.e03.episode.1.3.(2017).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\xafz\x9aV...,"ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\nSuppo...",support u become vip member remove ad wwwopens...
3,9446652,walker.independence.s01.e11.the.pittsburgh.win...,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\xeeV\x9aV...,"ï»¿1\r\n00:00:11,645 --> 00:00:13,947\r\n(bird...",bird singing exhaling soft moaning scoff softl...
4,9290119,the.leech.(2022).eng.1cd,b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x85\xa4\x...,"ï»¿1\r\n00:00:06,000 --> 00:00:12,074\r\nSuppo...",support u become vip member remove ad wwwopens...

In [30]:
def document_chunker(document, chunk_size=1000, overlap_size=200):
    tokens = word_tokenize(document)  # Tokenize the document
    num_tokens = len(tokens)
    chunks = []

    # Iterate over the tokens and create chunks with specified overlap
    for start in range(0, num_tokens, chunk_size - overlap_size):
        end = min(start + chunk_size, num_tokens)
        chunk = tokens[start:end]
        chunks.append({'name': row['name'], 'chunk_index': len(chunks) + 1, 'chunk_text': ' '.join(chunk)})

    return chunks

In [31]:
chunks = []
for index, row in df.iterrows():
    document = row['clean_content']
    document_chunks = document_chunker(document)
    chunks.extend(document_chunks)

In [32]:
chunks = pd.DataFrame(chunks)

In [33]:
chunks.shape

(93103, 3)